<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/formatacao.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="static/js/jquery.mask.min.js"></script>
    <script src="static/js/script.cadastro.js"></script>
    <script src="static/js/script.mascara.js"></script>

    <title>Cadastro</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand">
              <img src="https://cdn.discordapp.com/attachments/699712563176538182/855178255597174864/20210520_211529_0000.png" width="90" alt="" class="d-inline-block align-middle mr-2">
              <span class="text-uppercase font-weight-bold">Solarits</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="text-uppercase navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="/quemsomos" class="nav-link">Quem Somos</a></li>
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <main>
      <div class="caixa2" id="cad">
        <button type="button" class="btn btn-warning" id="cadastrocliente" >Cadastro de cliente</button>
        <button type="button" class="btn btn-warning" id="cadastroempresa">Cadastro de empresa</button>
    </div>
    <div class="cliente">
    <div class="text-center" id="caixasignincliente">
    <form action="/cadastracliente" name="cadastrocliente" method="post" class="form-signin" >
        <label for="inputUser" class="sr-only" id="inpute">Usuário*</label>
        <input type="text" name="nme_cliente" id="nme_cliente" class="form-control" placeholder="Nome de Usuário" required autofocus>
        <label for="inputCep" class="sr-only" id="inputp">CEP*</label>
        <input type="text" name="cep" id="cep" class="form-control" placeholder="Digite apenas os números" required autofocus>
        <label for="inputPassword" class="sr-only" id="inputp">Senha*</label>
        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-warning text-white" type="submit" id="entrar">Cadastrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>
    </div>
    </div>
    <div class="empresa">
    <div class="text-center" id="caixasigninempresa">
      <form action="/cadastraempresa" name="cadastroempresa" method="post" class="form-signin">
          <label for="inputUser" class="sr-only" id="inputc" >Nome da Empresa*</label>
          <input type="text" name="nme_empresa" id="nme_empresa" class="form-control" placeholder="Nome da Empresa" required autofocus>
          <label for="inputCnpj" class="sr-only" id="inputp">CNPJ*</label>
          <input type="text" name="cnpj" id="cnpj" class="form-control" required>
          <label for="escolheRegiao" class="sr-only" id="inputp">Região de Atuação*</label>
          <select name="atuacao" id="atuacao" class="form-control" required>
            <option value="Escolha o estado" selected></option>
            <option>AC</option>>
            <option>AL</option>>
            <option>AP</option>>
            <option>AM</option>>
            <option>BA</option>>
            <option>CE</option>>
            <option>DF</option>>
            <option>ES</option>>
            <option>GO</option>>
            <option>MA</option>>
            <option>MT</option>>
            <option>MS</option>>
            <option>MG</option>>
            <option>PA</option>>
            <option>PB</option>>
            <option>PR</option>>
            <option>PE</option>>
            <option>PI</option>>
            <option>RJ</option>>
            <option>RN</option>>
            <option>RS</option>>
            <option>RR</option>>
            <option>SC</option>>
            <option>SP</option>>
            <option>SE</option>>
            <option>TO</option>>
          </select>
          <label for="inputPassword" class="sr-only" id="inputp">Senha*</label>
          <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
          <label for="inputLink" class="sr-only" id="inputc">Link da Empresa</label>
          <input type="text" name="link" id="link" class="form-control" placeholder="https://example.com" autofocus>
          <button class="btn btn-lg btn-warning text-white" type="submit" id="entrar">Cadastrar</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
    </div>
      </div>
</main>

<footer class="bg-warning text-white text-center text-lg-start">
            <div class="container p-4" >
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Footer Content</h5>

                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                  </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="https://github.com/Robis123/Projeto-Solaris" target="_blank" class="text-white text-decoration-none">Github</a>
                    </li>
                    <li>
                      <a href="http://www.cresesb.cepel.br/index.php?section=sundata" target="_blank" class="text-white text-decoration-none">Cresesb</a>
                    </li>
                  </ul>
                </div>
                  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="http://www.gsep.ene.unb.br/producao/marco/sbpe_2006.pdf" target="_blank" class="text-white text-decoration-none">Gsep</a>
                    </li>
                    <li>
                      <a href="/quemsomos" class="text-white text-decoration-none">Quem somos</a>
                    </li>
                  </ul>
                </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright: Solarits
    </div>
  </footer>
</body>

</html>