<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/formatacao.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <header>
        <div class="container">
            <!--criamos um container que vai exibir as mensagens de alerta-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <!--condição para as mensagens-->
                    <ul id="messages" class="list-unstyled">
                        <!--criamos um laço de repetição para essas mensagens de alerta-->
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                        <!--chamada da mensagem-->
                    {% endfor %}
                    <!--fim do for-->
                    </ul>
                {% endif %}
                <!--fim do if-->
            {% endwith %}
        </div>
        <div class="jumbotron jumbotron-fluid" id="titulo">
            <h1 class="text-center">SOLARITS</h1>
        </div>
        <div class="caixa">
            <nav class="navbar navbar-expand-sm" id="navegacao">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav" id="links">
                        <a class="nav-link text-warning" id="nav-item" href="/">Início</a>
                        <a class="nav-link text-warning" id="nav-item" href="/proposta">Gerar Proposta</a>
                        <a class="nav-link text-warning" id="nav-item2" href="/quemsomos">Quem Somos</a>
                      </div>
                </div>
        </div>
        </nav>
        </div>
        <div class="caixa2" >
            <a href="/login"><button type="button" class="btn btn-warning" id="logcad">Login</button></a>
            <a href="/cadastro"><button type="button" class="btn btn-warning" id="logcad">Cadastro</button></a>
            <a href="/logout"><button type="button" class="btn btn-warning" id="logcad">Logout</button></a>
        </div>
    </header>
    <main>
        <div id="caixa1">
            <h1>Ultimas Noticias:</h1>
            <article class="row" id="textoimagem">
                <div><img src="https://s2.glbimg.com/A-dpICsSkF7oTaYTBFts7y_xJSw=/0x0:1280x958/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/i/T/o7AzoNQ4ilVvxo9cL2Ig/whatsapp-image-2021-06-08-at-11.14.28-1-.jpeg" /></div>
                <div>
                    <h3>Política</h3>
                    <p>Manifestantes montam painel de energia solar no gramado do Congresso Nacional para pedir regulamentação no setor.</p>
                    <a href="https://g1.globo.com/df/distrito-federal/noticia/2021/06/08/manifestantes-montam-painel-de-energia-solar-no-gramado-do-congresso-nacional-para-pedir-pagamento-de-impostos-no-setor.ghtml">Link to read more</a>
                </div>
            </article>
            <article class="row" id="textoimagem">
                <div>
                    <h3>Brasil</h3>
                    <p>superamos 500 mil conexões de energia solar de geração própria.</p>
                    <a href="https://economia.uol.com.br/noticias/reuters/2021/06/16/brasil-supera-500-mil-conexoes-de-energia-solar-de-geracao-propria-diz-associacao.htm">Link to read more</a>
                </div>
                <div><img src="https://cdn.discordapp.com/attachments/293857942824943617/854830284118032434/futuro-da-energia-solar-no-brasil-1.png" /></div>
            </article>
            <article class="row" id="textoimagem">
                <div><img src="https://media.discordapp.net/attachments/293857942824943617/854829597395517480/Valor-adicional-da-conta-de-luz-sobe-3648-em-menos-de-dois-meses-1.png" /></div>
                <div>
                    <h3>Economia</h3>
                    <p>Valor adicional da conta de luz sobe 364,8% em menos de dois meses.</p>
                    <a href="https://canalsolar.com.br/valor-adicional-da-conta-de-luz-sobe-3648-em-menos-de-dois-meses/">Link to read more</a>
                </div>
            </article>

        </div>
    </main>
        <footer class="bg-warning text-white text-center text-lg-start navbar-fixed-bottom">
            <div class="container p-4" >
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Footer Content</h5>

                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                  </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="https://github.com/Robis123/Projeto-Solaris" target="_blank" class="text-white text-decoration-none">Github</a>
                    </li>
                    <li>
                      <a href="http://www.cresesb.cepel.br/index.php?section=sundata" target="_blank" class="text-white text-decoration-none">Cresesb</a>
                    </li>
                  </ul>
                </div>
                  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="http://www.gsep.ene.unb.br/producao/marco/sbpe_2006.pdf" target="_blank" class="text-white text-decoration-none">Gsep</a>
                    </li>
                    <li>
                      <a href="/quemsomos" class="text-white text-decoration-none">Quem somos</a>
                    </li>
                  </ul>
                </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright: Solarits
    </div>
  </footer>
</body>

</html>