<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css">
   <title>Recebendo numeros</title>
</head>
<body>
   <form action="/proposta" method="post">
       <p>
           Digite o 1:
           <input type="number" name="m1"/>
       </p>
       <p>
           Digite o 2:
           <input type="number" name="m2"/>
       </p>
       <p>
           Digite o 3:
           <input type="number" name="m3"/>
       </p>
       <p>
           Digite o 4:
           <input type="number" name="m4"/>
       </p>
       <p>
           Digite o 5:
           <input type="number" name="m5"/>
       </p>
       <p>
           Digite o 6:
           <input type="number" name="m6"/>
       </p>
       <p>
           Digite o 7:
           <input type="number" name="m7"/>
       </p>
       <p>
           Digite o 8:
           <input type="number" name="m8"/>
       </p>
       <p>
           Digite o 9:
           <input type="number" name="m9"/>
       </p>
       <p>
           Digite o 10:
           <input type="number" name="m10"/>
       </p>
       <p>
           Digite o 11:
           <input type="number" name="m11"/>
       </p>
       <p>
           Digite o 12:
           <input type="number" name="m12"/>
       </p>
       <p>
           Digite o tipo eletrico da casa:
           <input type="text" name="tiposis"/>
       </p>
       <p>
           CEP:
           <input type="number" name="cep"/>
       </p>
       <p>
           <input type="submit" value="Gerar proposta"/>
       </p>
   </form>
</body>
</html>